@model SporosCore.Models.ViewModels.CartViewModel

            <p>Корзина</p>
            <table>
                <tr class="cartHeader">
                    <td>Название</td>
                    <td>Количество</td>
                    <td>Цена</td>
                </tr>
                @foreach(var item in Model.CartItems){
                <tr class="cartItems" id="@item.Items.Price">
                    <td hidden class="hiddenItemId" id="@item.ItemId" cartId="@item.CartId"></td>
                    <td id="ItemName">@item.Items.Category.CategoryName "@item.Items.ItemName"</td>
                    <td>
                        <input type="number" id="count" min="1" max="1000" step="10" value="@item.Count">
                    </td>
                    <td>
                        <input type="text" class="price" disabled value="@(item.Items.Price*item.Count)">
                    </td>
                    <td>
                        <div class="cartDelBtn" onclick="delFromCart" cartId="@item.CartId" itemId="@item.ItemId">Удалить</div>
                    </td>
                </tr>
                }
            </table>
            <p id="fullPrice">Итого: @{
        int fullPrice=0;
        foreach(var item in Model.CartItems)
        {
            fullPrice += item.Items.Price * item.Count;
        }
            }@fullPrice</p>
            <a id="clear" cartId="@Model.CartItems[0].CartId" href="#">Очистить корзину</a>
            <div class="cartBtns buttonsCart">
                <a class="cartPay" href="@Url.Action("OpenPurchase","Store")">Оформление заказа</a>
            </div>